*.a
*.d
*.o

*.exe
*.dll
*.dylib
*.so
*.zip

.DS_Store

bin-w32/adt-vst.*
bin-w32/adt.clap
bin-w32/adt.exe
bin-w32/adt.lv2
bin-w32/adt.vst3
bin-w64/adt-vst.*
bin-w64/adt.clap
bin-w64/adt.exe
bin-w64/adt.lv2
bin-w64/adt.vst3
bin/adt
bin/adt-dssi.*
bin/adt-ladspa.*
bin/adt-vst.*
bin/adt.clap
bin/adt.lv2/
bin/adt.vst3
build/
dist/
